* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    background-color: rgb(65, 65, 65);
    color: rgb(199, 199, 199);
}

header {
    background-color: pink;
    text-align: center;

    a {
        color: olivedrab;
        padding: 20px;
    }
}